                    <twig:Modal :closeButton="true">
                        <twig:block name="trigger">
                            <twig:Button variant="link" type="button" data-action="modal#open">
                            Options
                            </twig:Button>
                        </twig:block>
                        <h3 class="text-white text-lg font-semibold mb-2">
                        Search Options</h3>
                        <hr class="mb-4">
                        {# CLIENTS POINTS LOOP #}
                        <h4 class="text-white text-sm font-semibold mb-2">
                            Clients Points
                        </h4>
                        {% for clientPoint in clientsPoints %}
                            <div class="flex items-center mb-4">
                            <input type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" name="clientsPoints[]" value=" {{ clientPoint.id }} " id="clientPoint-search- {{ clientPoint.id }} " {{ clientPoint.id in searchClientsPoints ? 'checked' : '' }}>
                            <label for="clientPoint-search- {{ clientPoint.id }} " class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                            {{ clientPoint.name }}
                            </label>
                            </div>
                        {% endfor %}
                        {# END OF CLIENTS POINTS LOOP #}
                        <div class="flex justify-end">
                            <twig:Button variant="success" data-action="modal#close">
                            See Results
                            </twig:Button>
                        </div>
                    </twig:Modal>