<tr class="even:bg-gray-700 odd:bg-gray-600" id="service-list-item-{{ service.id }}">
    <td class="px-6 py-4 whitespace-nowrap">{{ service.id }}</td>
    <td class="px-6 py-4">{{ service.clientPoint.name }}<br/>{{ service.clientPoint.street }}<br/>{{ service.clientPoint.town }}</td>
    <td class="px-6 py-4">{{ service.description|nl2br }}</td>
    <td class="px-6 py-4">{{ service.realTime }}</td>
    {% set notifiedYes = '<span class="text-blue-600">'~service.notified.value~'</span>' %}
    {% set notifiedNo = '<span class="text-red-600">'~service.notified.value~'</span>' %}
    <td class="px-6 py-4">{{ service.notified.value == 'YES' ? notifiedYes|raw : notifiedNo|raw  }}</td>
    <td class="px-6 py-4">{{ service.endedAt ? service.endedAt|date('Y-m-d H:i:s') : '' }}</td>
    <td class="px-6 py-4 whitespace-nowrap flex">
        <twig:Modal :allowSmallWidth="true">
            <twig:block name="trigger">
                <button
                    class="text-indigo-400 hover:text-indigo-600"
                    data-action="modal#open"
                >notify</button>
            </twig:block>
            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"/>
                <path d="M12 9v4"/>
                <path d="M12 16v.01"/>
            </svg>
            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                    Notify Client and Client Point about service?
            </h3>
            <div class="flex justify-between">
                <form method="dialog">
                    <twig:Button variant="link">Cancel</twig:Button>
                </form>
                {{ include('service/_notify_form.html.twig') }}
            </div>
        </twig:Modal>
        <a 
            href="{{ path('app_service_show', {'id': service.id}) }}" 
            class="ml-4 text-blue-400 hover:text-blue-600"
            data-turbo-frame="modal"
        >show</a>
        <a 
            href="{{ path('app_service_edit', {'id': service.id}) }}" 
            class="ml-4 text-yellow-400 hover:text-yellow-600"
            data-turbo-frame="modal"
        >edit</a>
            {# use :allowSmallWidth with : at the beginning of the variable name to send a boolean value, oposite it will send a string value #}
        <twig:Modal :allowSmallWidth="true">
            <twig:block name="trigger">
                <button
                    class="ml-4 text-red-400 hover:text-red-600"
                    data-action="modal#open"
                >delete</button>
            </twig:block>
            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"/>
                <path d="M12 9v4"/>
                <path d="M12 16v.01"/>
            </svg>
            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                    Delete this service position???
            </h3>
            <div class="flex justify-between">
                <form method="dialog">
                    <twig:Button variant="link">Cancel</twig:Button>
                </form>
                {{ include('service/_delete_form.html.twig') }}
            </div>
        </twig:Modal>
    </td>
</tr>