<tr class="even:bg-gray-700 odd:bg-gray-600" id="service-list-item-{{ service.id }}">
    <td class="px-6 py-4 whitespace-nowrap">{{ service.id }}</td>
    <td class="px-6 py-4">{{ service.clientPoint.name }}<br/>{{ service.clientPoint.street }}<br/>{{ service.clientPoint.town }}</td>
    <td class="px-6 py-4">{{ service.description|slice(0,100)|nl2br }}</td>
    <td class="px-6 py-4">{{ service.realTime }}</td>
    {% set notifiedYes = '<span class="text-blue-600">'~service.notified.value~'</span>' %}
    {% set notifiedNo = '<span class="text-red-600">'~service.notified.value~'</span>' %}
    <td class="px-6 py-4">{{ service.notified.value == 'YES' ? notifiedYes|raw : notifiedNo|raw  }}</td>
    <td class="px-6 py-4">{{ service.endedAt ? service.endedAt|date('Y-m-d H:i:s') : '' }}</td>
    <td class="px-6 py-4 whitespace-nowrap flex">
        <div class="relative inline-block text-left bg-transparent">
        <div>
          <span
            class="bg-transparent cursor-pointer inline-flex w-full justify-center gap-x-1.5 px-3 py-2 text-sm font-semibold text-indigo-400 hover:text-indigo-600"
            id="menu-button"
            aria-expanded="true"
            aria-haspopup="true"
            data-controller="dropdown"
            data-action="mouseover->dropdown#show click->dropdown#hide"
            data-dropdown-index-value="service-list-action"
        >
            actions
            <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
            </svg>
          </span>
        </div>
        <div 
            id="service-list-action" 
            class="hidden absolute right-0 z-10 mt-0 w-32 origin-top-right rounded-md bg-gray-600 ring-1 shadow-lg ring-black/5 focus:outline-hidden" 
            role="menu" 
            aria-orientation="vertical" 
            aria-labelledby="menu-button" 
            tabindex="-1"
            data-controller="dropdown"
            data-action="click->dropdown#hide"
            data-dropdown-index-value="service-list-action"
        >
          <div class="py-1" role="none"  >
            <a
                href="{{ path('app_service_notify', {'id': service.id}) }}"
                class="block px-4 py-2 text-sm text-indigo-400 hover:text-indigo-600"
                data-turbo-frame="modal"
                role="menuitem"
                tabindex="-1"
                id="menu-item-0"
                >notify</a>
            <a
                href="{{ path('app_service_show', {'id': service.id}) }}"
                class="block px-4 py-2 text-sm text-blue-400 hover:text-blue-600"
                data-turbo-frame="modal"
                role="menuitem"
                tabindex="-1"
                id="menu-item-1"
            >show</a>
            <a
                href="{{ path('app_service_edit', {'id': service.id}) }}"
                class="block px-4 py-2 text-sm text-yellow-400 hover:text-yellow-600"
                data-turbo-frame="modal"
                role="menuitem"
                tabindex="-1"
                id="menu-item-2"
            >edit</a>
            <a
                href="{{ path('app_service_attachment', {'id': service.id}) }}"
                class="block px-4 py-2 text-sm text-emerald-400 hover:text-emerald-600"
                data-turbo-frame="modal"
                role="menuitem"
                tabindex="-1"
                id="menu-item-3"
            >attachment</a>
            <a
                href="{{ path('app_service_delete', {'id': service.id}) }}"
                class="block px-4 py-2 text-sm text-red-400 hover:text-red-600"
                data-turbo-frame="modal"
                role="menuitem"
                tabindex="-1"
                id="menu-item-4"
            >delete</a>
          </div>
        </div>
      </div>
    </td>
</tr>