<tr class="even:bg-gray-700 odd:bg-gray-600" id="service-list-item-{{ service.id }}">
    <td class="px-6 py-4 whitespace-nowrap">{{ service.id }}</td>
    <td class="px-6 py-4">{{ service.clientPoint.name }}<br/>{{ service.clientPoint.street }}<br/>{{ service.clientPoint.town }}</td>
    <td class="px-6 py-4">{{ service.description|slice(0,100)|nl2br }}</td>
    <td class="px-6 py-4">{{ service.realTime }}</td>
    {% set notifiedYes = '<span class="text-blue-600">'~service.notified.value~'</span>' %}
    {% set notifiedNo = '<span class="text-red-600">'~service.notified.value~'</span>' %}
    <td class="px-6 py-4">{{ service.notified.value == 'YES' ? notifiedYes|raw : notifiedNo|raw  }}</td>
    <td class="px-6 py-4">{{ service.endedAt ? service.endedAt|date('Y-m-d H:i:s') : '' }}</td>
    <td class="px-6 py-4 whitespace-nowrap flex">
        <a
            href="{{ path('app_service_notify', {'id': service.id}) }}"
            class="ml-4 text-indigo-400 hover:text-indigo-600"
            data-turbo-frame="modal"
        >notify</a>
        <a 
            href="{{ path('app_service_show', {'id': service.id}) }}" 
            class="ml-4 text-blue-400 hover:text-blue-600"
            data-turbo-frame="modal"
        >show</a>
        <a 
            href="{{ path('app_service_edit', {'id': service.id}) }}" 
            class="ml-4 text-yellow-400 hover:text-yellow-600"
            data-turbo-frame="modal"
        >edit</a>
        <a 
            href="{{ path('app_service_attachment', {'id': service.id}) }}" 
            class="ml-4 text-emerald-400 hover:text-emerald-600"
            data-turbo-frame="modal"
        >attachment</a>
        <a
            href="{{ path('app_service_delete', {'id': service.id}) }}"
            class="ml-4 text-red-400 hover:text-red-600"
            data-turbo-frame="modal"
        >delete</a>
    </td>
</tr>