{% set backPath=path('app_service_index') %}
{% extends 'modalBase.html.twig' %}
{% block title %}{{ parent() }} - Edit Service - {{ service.id }}{% endblock %}
{% block body %}
    <div class="m-4 p-4 modal:m-0 modal:p-0 bg-gray-800 rounded-lg">
        <div class="flex justify-between">
            <h1 class="text-xl font-semibold text-white mb-4">Edit Service</h1>
            <div class="mr-0">
                {# CLOSE ACTION - DEPENDS OF WINDOWS TYPE #}
                {{ loadFrame.closeAction | raw }}
                {# END CLOSE ACTION #}
            </div>
        </div>
        {{ include('service/_form.html.twig') }}
    </div>
{% endblock %}
{# ADD TURBO STREAM TO UPDATE ROW IN TABLE WITH CONTENT #}
{% block stream_success %}
    {# add `s` to target to use CSS selector #}
    {# CLEAR MODAL CONTENT TO CLOSE IT #}
    <turbo-stream action="update" target="modal">
        <template>
        </template>
    </turbo-stream>
    <turbo-stream action="replace" target="service-list-item-{{ service.id }}">
        <template>
            {% include('service/_row.html.twig') %}
        </template>
    </turbo-stream>
{% endblock %}