{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Manage Service{% endblock %}
{% macro sortArrow(sortName, sort, sortDirection) %}
    {% if sort == sortName %}
        {% if sortDirection == 'asc' %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none">
                </path>
                <path d="M6 15l6 -6l6 6">
                </path>
            </svg> {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none">
                </path>
                <path d="M6 9l6 6l6 -6">
                </path>
            </svg>
        {% endif %}
    {% else %} <!-- up and down arrow svg -->
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4 text-slate-300" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none">
            </path>
            <path d="M8 9l4 -4l4 4">
            </path>
            <path d="M16 15l-4 4l-4 -4">
            </path>
        </svg>
    {% endif %}
{% endmacro %}
{% block body %}
                {# SEARCH #}
            <form
                method="GET"
                action="{{ path('app_service_index') }}"
                class="mb-6 flex justify-between ml-4"
                {# INITIATE CONTROLLER OF AUTOSUBMIT #}
                data-controller="autosubmit"
                {# ADD TARGET FOR UPDATE #}
                data-turbo-frame="service-list"
            >
                <div class="w-1/3 flex">
                    <input
                        type="search"
                        name="query"
                        value="{{ app.request.query.get('query') }}"
                        aria-label="Search services"
                        placeholder="Search services"
                        class="px-4 py-2 rounded bg-gray-800 text-white placeholder-gray-400"
                        {# INITIATE CONTROLLER AUTOSUBMIT METHOD #}
                        data-action="autosubmit#debouncedSubmit"
                        autofocus
                    >
                    {% include('service/_options.html.twig') %}
                </div>
                {# SET UPDATE RESULT #}
                {% set services_length = services|length %}
                {% block service_result_count %}
                    <div id="service-result-count" class="whitespace-nowrap m-2 mr-4">{{ services_length }} results</div>
                {% endblock %}
                {# END UPDATE RESULT #}
            </form>
            {# END SEARCH #}
{# CONTENT REFRESH VIA TURBO-FRAME #}
<turbo-frame id="service-list" data-turbo-action="advance">
<div class="m-4 p-4 bg-gray-800 rounded-lg">
    {# ASSIGN modal_controller.js #}
    <div
        class="flex justify-between"
    >
        <h1 class="text-xl font-semibold text-white mb-4">Services</h1>
        {# ASSIGN modal_controller.js action open() #}
        <twig:Button
            tag="a"
            href="{{ path('app_service_new') }}"
            data-turbo-frame="modal"
            class="flex items-center space-x-1 font-bold"
        >
            <span>New Service</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 inline" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"/>
                <path d="M9 12h6"/>
                <path d="M12 9v6"/>
            </svg>
        </twig:Button>
    </div>                     
    <table class="min-w-full bg-gray-800 text-white" id="table-service-list">
        <thead class="border-b border-gray-700">
            <tr>
                <th class="text-left py-2">
                    <a
                        href="{{ path('app_service_index',{
                               ...app.request.query.all(),
                                sort: 'id',
                                sortDirection: sort == 'id' and sortDirection == 'asc' ? 'desc' : 'asc'
                        }) }}"
                    >
                    ID {{ _self.sortArrow('id', sort, sortDirection) }}
                    </a>
                </th>
                <th class="text-left py-2 pr-4 whitespace-nowrap">
                    <a
                        href="{{ path('app_service_index',{
                                 ...app.request.query.all(),
                                sort: 'clientPoint',
                                sortDirection: sort == 'clientPoint' and sortDirection == 'asc' ? 'desc' : 'asc'
                        }) }}"
                    >
                    Client Point {{ _self.sortArrow('clientPoint', sort, sortDirection) }}
                    </a>
                </th>
                <th class="text-left py-2">
                    <a
                        href="{{ path('app_service_index',{
                                ...app.request.query.all(),
                                sort: 'description',
                                sortDirection: sort == 'description' and sortDirection == 'asc' ? 'desc' : 'asc'
                        }) }}"
                    >
                    Description {{ _self.sortArrow('decription', sort, sortDirection) }}
                    </a>
                </th>
                <th class="text-left py-2 whitespace-nowrap">
                    <a
                        href="{{ path('app_service_index',{
                               ...app.request.query.all(),
                                sort: 'realTime',
                                sortDirection: sort == 'realTime' and sortDirection == 'asc' ? 'desc' : 'asc'
                        }) }}"
                    >
                    Real time {{ _self.sortArrow('realTime', sort, sortDirection) }}
                    </a>
                </th>
                <th class="text-left py-2 whitespace-nowrap">
                    <a
                        href="{{ path('app_service_index',{
                               ...app.request.query.all(),
                                sort: 'notified',
                                sortDirection: sort == 'notified' and sortDirection == 'asc' ? 'desc' : 'asc'
                        }) }}"
                    >
                    Notified {{ _self.sortArrow('notified', sort, sortDirection) }}
                    </a>
                </th>
                <th class="text-left py-2">
                    <a
                        href="{{ path('app_service_index',{
                               ...app.request.query.all(),
                                sort: 'endedAt',
                                sortDirection: sort == 'endedAt' and sortDirection == 'asc' ? 'desc' : 'asc'
                        }) }}"
                    >
                    Ended at {{ _self.sortArrow('endedAt', sort, sortDirection) }}
                    </a>
                </th>

                <th class="px-6 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Actions</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-600">
            {% for service in services %}
                {% include('service/_row.html.twig') %}
            {% else %}
                <tr>
                    <td colspan="4" class="px-6 py-4 whitespace-nowrap text-center text-gray-400">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="flex items-center mt-6 space-x-4">
    {# SETUP PAGINATION #}
    {# DEFAULT {{ pagerfanta(services) }} #}
    {% if services.hasPreviousPage %}
        <a href="{{ pagerfanta_page_url(services,services.previousPage) }}" class="block py-2 px-4 bg-gray-700 text-white rounded hover:bg-gray-600">Previous</a>
    {% endif %}
    {% if services.hasNextPage %}
        <a href="{{ pagerfanta_page_url(services,services.nextPage) }}" class="block py-2 px-4 bg-gray-700 text-white rounded hover:bg-gray-600">Next</a>
    {% endif %}
    <div class="ml-4">
        Page {{ services.currentPage }} / {{ services.nbPages }}
    </div>
    {# END OF PAGINATION #}
 </div>
    <turbo-stream action="replace" target="service-result-count">
    <template>
        {{ block('service_result_count') }}
    </template>
    </turbo-stream>
</turbo-frame>
{% endblock %}
