{% set backPath=path('app_service_index') %}
{% extends 'modalBase.html.twig' %}
{% block title %}{{ parent() }} - Service{% endblock %}
{% block body %}
<div class="m-4 p-4 modal:m-0 modal:p-0 bg-gray-800 rounded-lg">
    <div class="flex justify-between">
        <h1 class="text-xl font-semibold text-white mb-4">Service</h1>
        <div class="mr-0">
            {# CLOSE ACTION - DEPENDS OF WINDOWS TYPE #}
            {{ loadFrame.closeAction | raw }}
            {# END CLOSE ACTION #}
        </div>
    </div>
    <table class="min-w-full bg-gray-800 text-white">
        <tbody class="bg-gray-700 divide-y divide-gray-600">
            <tr>
                <th class="px-6 py-4 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Id</th>
                <td class="px-6 py-4 whitespace-nowrap">{{ service.id }}</td>
            </tr>
            <tr>
                <th class="px-6 py-4 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Client point</th>
                <td class="px-6 py-4 whitespace-nowrap">{{ service.clientPoint.name }}<br/>{{ service.clientPoint.street  }}<br/>{{ service.clientPoint.town  }}</td>
            </tr>
            <tr>
                <th class="px-6 py-4 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Description:</th>
                <td class="px-6 py-4">{{ service.description }}</td>
            </tr>
            <tr>
                <th class="px-6 py-4 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Started at:</th>
                <td class="px-6 py-4 whitespace-nowrap">{{ service.startedAt ? service.startedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th class="px-6 py-4 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Ended at:</th>
                <td class="px-6 py-4 whitespace-nowrap">{{ service.endedAt ? service.endedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th class="px-6 py-4 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Time <span class="font-light">(in minutes)</span>:</th>
                <td class="px-6 py-4 whitespace-nowrap">{{ service.time }}</td>
            </tr>
            <tr>
                <th class="px-6 py-4 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Route <span class="font-light">(km)</span>:</th>
                <td class="px-6 py-4 whitespace-nowrap">{{ service.route }}</td>
            </tr>
        </tbody>
    </table>
    <div class="flex space-x-4 mt-4 justify-end">
        {{ include('service/_delete_form.html.twig') }}
        <a href="{{ path('app_service_edit', {'id': service.id}) }}" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700">
            Edit
        </a>
    </div>
</div>
{% endblock %}
