{% extends 'base.html.twig' %}
{% block title %}{{ parent()}}{% endblock %}
{% macro sortArrow(sortName, sort, sortDirection) %}
    {% if sort == sortName %}
        {% if sortDirection == 'asc' %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none">
                </path>
                <path d="M6 15l6 -6l6 6">
                </path>
            </svg> {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none">
                </path>
                <path d="M6 9l6 6l6 -6">
                </path>
            </svg>
        {% endif %}
    {% else %} <!-- up and down arrow svg -->
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4 text-slate-300" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none">
            </path>
            <path d="M8 9l4 -4l4 4">
            </path>
            <path d="M16 15l-4 4l-4 -4">
            </path>
        </svg>
    {% endif %}
{% endmacro %}
{% block body %}
    <div class="flex">
        <aside class="hidden md:block md:w-64 bg-gray-900 px-2 py-6">
            <h2 class="text-xl text-white font-semibold mb-6 px-2">Clients</h2>
            <turbo-frame id="client-info">
                {{ include('main/_client_list.html.twig') }}
            </turbo-frame>
        </aside>

        <section class="flex-1 ml-10">
            {# SEARCH #}
            <form
                method="GET"
                action="{{ path('app_main_homepage') }}"
                class="mb-6 flex justify-between"
                {# INITIATE CONTROLLER OF AUTOSUBMIT #}
                data-controller="autosubmit"
                {# ADD TARGET FOR UPDATE #}
                data-turbo-frame="service-list"
            >
                <div class="w-1/3 flex">
                    <input
                        type="search"
                        name="query"
                        value="{{ app.request.query.get('query') }}"
                        aria-label="Search services"
                        placeholder="Search services"
                        class="px-4 py-2 rounded bg-gray-800 text-white placeholder-gray-400"
                        {# INITIATE CONTROLLER AUTOSUBMIT METHOD #}
                        data-action="autosubmit#debouncedSubmit"
                        autofocus
                    >
                    <twig:Modal :closeButton="true">
                        <twig:block name="trigger">
                            <twig:Button variant="link" type="button" data-action="modal#open">
                            Options
                            </twig:Button>
                        </twig:block>
                        <h3 class="text-white text-lg font-semibold mb-2">
                        Search Options</h3>
                        <hr class="mb-4">
                        {# CLIENTS POINTS LOOP #}
                        <h4 class="text-white text-sm font-semibold mb-2">
                            Clients Points
                        </h4>
                        {% for clientPoint in clientsPoints %}
                            <div class="flex items-center mb-4">
                            <input type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" name="clientsPoints[]" value=" {{ clientPoint.id }} " id="clientPoint-search- {{ clientPoint.id }} " {{ clientPoint.id in searchClientsPoints ? 'checked' : '' }}>
                            <label for="clientPoint-search- {{ clientPoint.id }} " class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                            {{ clientPoint.name }}
                            </label>
                            </div>
                        {% endfor %}
                        {# END OF CLIENTS POINTS LOOP #}
                        <div class="flex justify-end">
                            <twig:Button variant="success" data-action="modal#close">
                            See Results
                            </twig:Button>
                        </div>
                    </twig:Modal>
                </div>
                {# SET UPDATE RESULT #}
                {% set services_length = services|length %}
                {% block service_result_count %}
                    <div id="service-result-count" class="whitespace-nowrap m-2 mr-4">{{ services_length }} results</div>
                {% endblock %}
                {# END UPDATE RESULT #}
            </form>
            {# END SEARCH #}
            {# CONTENT REFRESH VIA TURBO-FRAME #}
            <turbo-frame id="service-list" data-turbo-action="advance">
                <div class="bg-gray-800 p-4 rounded">
                    <table class="w-full text-white">
                        <thead>
                            <tr>
                                <th class="text-left py-2">
                                    <a
                                        href="{{ path('app_main_homepage',{
                                            ...app.request.query.all(),
                                            sort: 'description',
                                            sortDirection: sort == 'description' and sortDirection == 'asc' ? 'desc' : 'asc'
                                        }) }}"
                                    >
                                        Description {{ _self.sortArrow('decription', sort, sortDirection) }}
                                    </a>
                                </th>
                                <th class="text-left py-2 pr-4">
                                     <a
                                        href="{{ path('app_main_homepage',{
                                            ...app.request.query.all(),
                                            sort: 'clientPoint',
                                            sortDirection: sort == 'clientPoint' and sortDirection == 'asc' ? 'desc' : 'asc'
                                        }) }}"
                                    >
                                        Client Point {{ _self.sortArrow('clientPoint', sort, sortDirection) }}
                                    </a>

                                </th>
                                <th class="text-left py-2">
                                    <a
                                        href="{{ path('app_main_homepage',{
                                            ...app.request.query.all(),
                                            sort: 'endedAt',
                                            sortDirection: sort == 'endedAt' and sortDirection == 'asc' ? 'desc' : 'asc'
                                        }) }}"
                                    >
                                        Ended at {{ _self.sortArrow('endedAt', sort, sortDirection) }}
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in services %}
                            <tr class="border-b border-gray-700 {% if loop.index is odd %} bg-gray-800 {% else %} bg-gray-700 {% endif %}">
                                <td class="p-4">{{ service.description|nl2br }}</td>
                                <td class="px-2 whitespace-nowrap">
                                    {# POPOVER START #}
                                    <div
                                        data-controller="popover"
                                        data-action="mouseenter->popover#show mouseleave->popover#hide"
                                        class="relative"
                                    >
                                        <img
                                            src="{{ asset( 'images/'~service.clientPoint.id) }} "
                                            alt="Image of {{ service.clientPoint.name }} "
                                            class="inline-block w-8 h-8 rounded-full bg-gray-600 ml-2"
                                        >
                                        {{ service.clientPoint.name }}

                                        <template data-popover-target="content">
                                            <div 
                                                data-popover-target="card"
                                                class="max-w-sm rounded shadow-lg bg-gray-900 absolute left-0 bottom-10"
                                            >
                                                <turbo-frame
                                                    loading="lazy"
                                                    id="clientpoint-card-{{ service.clientPoint.id }}"
                                                    src="{{ path ( 'app_clientpoint_card' , { id: service.clientPoint.id } ) }}"
                                                    data-skip-transition
                                                >
                                                    <div class="p-10">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="animate-spin" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M12 3a9 9 0 1 0 9 9" ></path>
                                                        </svg >
                                                    </div>
                                                </turbo-frame>
                                            </div>
                                        </template>
                                    </div>
                                    {# POPOVER ENDS #}
                                </td>
                                <td class="px-2 whitespace-nowrap">{{ service.endedAt|date('Y-m-d') }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="flex items-center mt-6 space-x-4">
                    {# SETUP PAGINATION #}
                    {# DEFAULT {{ pagerfanta(services) }} #}
                    {% if services.hasPreviousPage %}
                        <a href="{{ pagerfanta_page_url(services,services.previousPage) }}" class="block py-2 px-4 bg-gray-700 text-white rounded hover:bg-gray-600">Previous</a>
                    {% endif %}
                    {% if services.hasNextPage %}
                        <a href="{{ pagerfanta_page_url(services,services.nextPage) }}" class="block py-2 px-4 bg-gray-700 text-white rounded hover:bg-gray-600">Next</a>
                    {% endif %}
                    <div class="ml-4">
                        Page {{ services.currentPage }} / {{ services.nbPages }}
                    </div>
                    {# END OF PAGINATION #}
                </div>
                <turbo-stream action="replace" target="service-result-count">
                    <template>
                        {{ block('service_result_count') }}
                    </template>
                </turbo-stream>
            </turbo-frame>
            {# END CONTENT REFRESH VIA TURBO-FRAME #}
        </section>
    </div>
{% endblock %}
