<tr class="even:bg-gray-700 odd:bg-gray-600">
    <td class="px-6 py-4 whitespace-nowrap">{{ clientPoint.id }}</td>
    <td class="px-6 py-4 whitespace-nowrap">{{ clientPoint.name }}</td>
    <td class="px-6 py-4">{{ clientPoint.street }}</td>
    <td class="px-6 py-4">{{ clientPoint.zipCode }}</td>
    <td class="px-6 py-4 whitespace-nowrap">{{ clientPoint.town }}</td>
    <td class="px-6 py-4 whitespace-nowrap">{{ clientPoint.email }}</td>
    <td class="px-6 py-4 whitespace-nowrap">{{ clientPoint.phoneNumber }}</td>
    <td class="px-6 py-4 whitespace-nowrap">
        <a href="{{ path('app_clientpoint_show', {'id': clientPoint.id}) }}" class="text-blue-400 hover:text-blue-600">show</a>
        <a href="{{ path('app_clientpoint_edit', {'id': clientPoint.id}) }}" class="ml-4 text-yellow-400 hover:text-yellow-600">edit</a>
    </td>
</tr>