{% block body %}
<div class="m-4 p-4 modal:m-0 modal:p-0 bg-gray-800 rounded-lg">
    <div>
    <form method="POST" ACTION="{{ path('app_client_cooperation',{id:client.id}) }}" data-controller="autosubmit"">
        {% if error.status %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Set price:</h1>
        {% for classification in classifications %}
        <div class="mb-3">
            <label for="{{ classification.id }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white required">[{{ classification.code }}] {{ classification.name }} </label>
            <input type="number" value="{{ classification.price }}" name="{{ classification.id }}"  required autofocus class="text-gray-900 bg-gray-50 rounded-lg text-sm block w-full p-2.5 border border-gray-300 focus:z-10 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        {% endfor %}

        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('cooperation') }}">
        <div class="flex justify-end">
        <twig:Button variant="success">
            Save
        </twig:Button>
        </div>
    </form>
    </div>
</div>

{% endblock %}