<tr class="even:bg-gray-700 odd:bg-gray-600" id="client-list-item-{{ client.id }}">
    <td class="px-6 py-4 whitespace-nowrap">{{ client.id }}</td>
    <td class="px-6 py-4 whitespace-nowrap">{{ client.name }}</td>
    <td class="px-6 py-4 whitespace-nowrap">{{ client.nin }}</td>
    <td class="px-6 py-4">{{ client.street }}</td>
    <td class="px-6 py-4 whitespace-nowrap">{{ client.town }}</td>
    <td class="px-6 py-4 whitespace-nowrap flex">
        <a 
            href="{{ path('app_client_services', {'id': client.id}) }}" 
            class="text-indigo-400 hover:text-indigo-600"
            data-turbo-frame="modal"
        >services</a>
        <a 
            href="{{ path('app_client_show', {'id': client.id}) }}" 
            class="ml-4 text-blue-400 hover:text-blue-600"
            data-turbo-frame="modal"
        >show</a>
        <a 
            href="{{ path('app_client_edit', {'id': client.id}) }}" 
            class="ml-4 text-yellow-400 hover:text-yellow-600"
            data-turbo-frame="modal"
        >edit</a>
            {# use :allowSmallWidth with : at the beginning of the variable name to send a boolean value, oposite it will send a string value #}
        <twig:Modal :allowSmallWidth="true">
            <twig:block name="trigger">
                <button
                    class="ml-4 text-red-400 hover:text-red-600"
                    data-action="modal#open"
                >delete</button>
            </twig:block>
            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"/>
                <path d="M12 9v4"/>
                <path d="M12 16v.01"/>
            </svg>
            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                    Delete this client???
            </h3>
            <div class="flex justify-between">
                <form method="dialog">
                    <twig:Button variant="link">Cancel</twig:Button>
                </form>
                {{ include('client/_delete_form.html.twig') }}
            </div>
        </twig:Modal>
    </td>
</tr>