<tr class="even:bg-gray-700 odd:bg-gray-600" id="classificationofactivities-list-item-{{ classificationOfActivities.id }}">
    <td class="px-6 py-4 whitespace-nowrap">{{ classificationOfActivities.id }}</td>
    <td class="px-6 py-4">{{ classificationOfActivities.code }}</td>
    <td class="px-6 py-4">{{ classificationOfActivities.name }}</td>
    <td class="px-6 py-4">{{ classificationOfActivities.unit }}</td>
    <td class="px-6 py-4">{{ classificationOfActivities.updatedAt|date('Y-m-d H:i:s') }}</td>
</tr>