{% set backPath=path('app_classificationofactivities_index') %}
{% extends 'modalBase.html.twig' %}
{% block title %}{{ parent() }} - Classification of activities{% endblock %}
{% block body %}
<div class="m-4 p-4 modal:m-0 modal:p-0 bg-gray-800 rounded-lg">
    <div class="flex justify-between">
    <h1 class="text-xl font-semibold text-white mb-4">Classification of activities:</h1>
            <div class="mr-0">
            {# CLOSE ACTION - DEPENDS OF WINDOWS TYPE #}
            {{ loadFrame.closeAction | raw }}
            {# END CLOSE ACTION #}
        </div>
    </div>
    <turbo-frame id="client-info">
    <table class="min-w-full bg-gray-800 text-white">
        <tbody class="bg-gray-700 divide-y divide-gray-600">
            <tr>
                <th class="px-2 py-4 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Name</th>
                <td class="px-2 py-4">{{ classificationOfActivities.name }}</td>
            </tr>
            <tr>
                <th class="px-2 py-4 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Code</th>
                <td class="px-2 py-4 whitespace-nowrap">{{ classificationOfActivities.code }}</td>
            </tr>
            <tr>
                <th class="px-2 py-4 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Price</th>
                <td class="px-2 py-4" >{{ classificationOfActivities.price }}</td>
            </tr>
            <tr>
                <th class="px-2 py-4 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">Unit</th>
                <td class="px-2 py-4" >{{ classificationOfActivities.unit }}</td>
            </tr>
        </tbody>
    </table>
    {% if app.request.headers.get( 'turbo-frame' ) != 'modal' %}
    <div class="mt-2 hidden turbo-frame:block">
        <a href="{{ path('app_classificationofactivities_index') }}"> &lt; Back</a>
        <a data-turbo-frame="_top" href="{{ path('app_classificationofactivities_edit',{id:classificationOfActivities.id}) }}">Edit</a>
    </div>
    {% endif %}
    </turbo-frame>
    <div class="flex space-x-4 mt-4 justify-end">
        {# DELETE BUTTON #}
        {{ include('classificationofactivities/_delete_form.html.twig') }}
        {# END DELETE BUTTON #}
        {# EDIT BUTTON #}
        <twig:Button 
            variant="success"
            tag="a"
            href="{{ path('app_classificationofactivities_edit', {'id': classificationOfActivities.id}) }}"
            data-turbo-frame="modal"
        >Edit</twig:Button>
        {# END EDIT BUTTON #}
    </div>
</div>
{% endblock %}
