<div {{ attributes }}>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="flex justify-end">
    <twig:Button
        formnovalidate
        variant="notify"
    >
        {{ button_label|default('Notify') }}
    </twig:Button>
    </div>
{{ form_end(form) }}
</div>